domain.com:80 {
    redir https://{host}{uri} permanent
}


domain.com:80 {
    redir https://{host}{uri} permanent
}



domain.com:9443 {
    root * /var/www/mos-drywall.shop
    file_server
    encode gzip
    log {
        output file /var/log/caddy/domain.log
    }
}

domain.com:9443 {
    root * /var/www/my-rebar.shop
    file_server
    encode gzip
    log {
        output file /var/log/caddy/domain.log
    }
}
