{
    storage redis {
        host domain.com
        port 6379
        password 12345678
        key_prefix caddy_
        db 0
    }
}

domain.com:80 {
    redir https://{host}{uri} permanent
}


domain.com:80 {
    redir https://{host}{uri} permanent
}



domain.com:9443 {
    root * /var/www/domain.com
    file_server
    encode gzip
    log {
        output file /var/log/caddy/domain.log
    }
}

domain.com:9443 {
    root * /var/www/domain.com
    file_server
    encode gzip
    log {
        output file /var/log/caddy/domain.log
    }
}
